SCRIPT_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )"

source .venv/bin/activate

export PYTHONPATH="${PYTHONPATH}:${SCRIPT_DIR}/gooddata-afm-client/"
export PYTHONPATH="${PYTHONPATH}:${SCRIPT_DIR}/gooddata-metadata-client/"
export PYTHONPATH="${PYTHONPATH}:${SCRIPT_DIR}/gooddata-scan-client/"
export PYTHONPATH="${PYTHONPATH}:${SCRIPT_DIR}/gooddata-sdk/"
export PYTHONPATH="${PYTHONPATH}:${SCRIPT_DIR}/gooddata-pandas/"
