SCRIPT_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )"

export PATH="${SCRIPT_DIR}/.venv/bin:${PATH}"

source .venv/bin/activate

export PYTHONPATH="${PYTHONPATH}:${SCRIPT_DIR}/gooddata-dbt"
export PATH="${PATH}:${SCRIPT_DIR}/gooddata-dbt/bin"
