.idea
*.iml
.env
.env.test
.venv
test_clients.py
gooddata-sdk/tests/catalog/store
.DS_Store
.vscode
.ruff_cache

docs/node_modules
docs/public
docs/resources/_gen
docs/tmp/
docs/multidocs
docs/.hugo_build.lock