.idea
.vscode
.cursor
*.iml
.env
.env.test
.venv
test_clients.py
packages/gooddata-sdk/tests/catalog/store
packages/gooddata-sdk/tests/catalog/translate
.DS_Store
.vscode
.ruff_cache

# Python build artifacts
.tox
*.egg-info
dist/
build/
__pycache__/
*.pyc
*.pyo
*.pyd

docs/node_modules
docs/public
docs/resources/_gen
docs/tmp/
docs/versioned_docs
docs/.hugo_build.lock
