.idea
.vscode
*.iml
.env
.env.test
.venv
test_clients.py
gooddata-sdk/tests/catalog/store
gooddata-sdk/tests/catalog/translate
.DS_Store
.vscode
.ruff_cache

docs/node_modules
docs/public
docs/resources/_gen
docs/tmp/
docs/versioned_docs
docs/.hugo_build.lock

integration_tests/**/__pycache__
