-r ./tox-requirements.txt
tbump~=6.10.0
pre-commit~=3.3.3

-r ./fmt-requirements.txt
-r ./lint-requirements.txt

-r ./gooddata-api-client/requirements.txt
-r ./gooddata-sdk/requirements.txt
-r ./gooddata-pandas/requirements.txt
-r ./gooddata-fdw/requirements.txt
-r ./gooddata-dbt/requirements.txt
-r ./gooddata-sdk/test-requirements.txt
-r ./gooddata-pandas/test-requirements.txt
-r ./gooddata-fdw/test-requirements.txt
-r ./gooddata-dbt/test-requirements.txt
-r ./tests-support/requirements.txt
-r ./docs/docs-requirements.txt
