-r ./tox-requirements.txt
tbump~=6.6.0
pre-commit~=2.14.0

-r ./fmt-requirements.txt
-r ./lint-requirements.txt

-r ./gooddata-afm-client/requirements.txt
-r ./gooddata-metadata-client/requirements.txt
-r ./gooddata-scan-client/requirements.txt
-r ./gooddata-sdk/requirements.txt
-r ./gooddata-pandas/requirements.txt
-r ./gooddata-fdw/requirements.txt
-r ./gooddata-sdk/test-requirements.txt
-r ./gooddata-pandas/test-requirements.txt
-r ./gooddata-fdw/test-requirements.txt
