# (C) 2022 GoodData Corporation
# docker-compose.yaml is dedicated to testing. All the tests are expected to be passing
# against this docker compose.

version: '3.7'

services:
  gooddata-cn-ce:
    # Use the master tag, which points to the latest stable development
    image: 020413372491.dkr.ecr.us-east-1.amazonaws.com/nas/gooddata-cn-ce:master
    ports:
      - "3000:3000"
      - "5432:5432"
    volumes:
      - gooddata-cn-ce-data:/data
    environment:
      APP_LOGLEVEL: "INFO"
      GDCN_LICENSE_KEY: ${GDCN_LICENSE_KEY}
      GDCN_ENABLE_CSV_EXPORT_API: 1
      GDC_FEATURES_VALUES_ENABLE_ANALYTICAL_DASHBOARD_PERMISSIONS: "true"
      GDC_FEATURES_VALUES_ENABLE_METRIC_SQL_AND_DATA_EXPLAIN: 'ENABLED'
      GDC_FEATURES_VALUES_ENABLE_ROLLUP_TOTALS: "true"
      GDC_FEATURES_VALUES_ENABLE_ROLLUP_TOTALS_FOR_METRICS: "true"
      GDC_FEATURES_VALUES_ENABLE_SCHEDULING: "true"
      GDC_FEATURES_VALUES_ENABLE_ALERTING: "true"
      GDC_FEATURES_VALUES_ENABLE_SMTP: "true"
#      In the case of failing tests (HTTP 500), you can increase the memory for the metadata API
#      METADATA_API_JAVA_OPTS: "-Xmx1024m -Xms512m"
  gooddata-fdw:
    build:
      context: .
      dockerfile: gooddata-fdw/Dockerfile
    ports:
      - "2543:5432"
    environment:
      POSTGRES_DB: gooddata
      POSTGRES_USER: gooddata
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD-gooddata123}"
    command: ["postgres", "-c", "shared_preload_libraries=foreign_table_exposer", "-c", "log_statement=all", "-c", "client_min_messages=DEBUG1", "-c", "log_min_messages=DEBUG1"]

  upload-layout:
    build:
      context: .
      dockerfile: tests-support/Dockerfile
    environment:
      FIXTURES_DIR: /app/fixtures
      HOST: "http://gooddata-cn-ce:3000"
      HEADER_HOST: localhost
    command: ["python3", "upload_demo_layout.py"]

  docs:
    build:
      context: .
      dockerfile: docs/Dockerfile
    ports:
      - "1313:1313"

volumes:
  gooddata-cn-ce-data:
