# (C) 2021 GoodData Corporation
[tool.ruff]
exclude = [
    ".git",
    ".venv",
    "__pycache__",
    ".tox",
    "build",
    "dist",
    "gooddata-api-client",
]
line-length = 120
lint.select = [
    "E", # pycodestyle errors
    "F", # pyflakes
    "I", # isort
    "PERF", # perflint
    "PIE",
    "PLR0402", # prevent unnecessary manual import aliases
    "PLR1711", # prevent useless returns
    "SIM",
    "UP",
    "W", # pycodestyle warnings
    "D417", # undocumented-param
]
lint.ignore = [
    # rules recommended to be ignored when using ruff format
    "E501", "W191",
    # ignore the rule banning Optional[X] in favor of X | None, we are fine with Optional for now
    "UP007",
    # ignore the rule, because it presents non-zero perf cost
    "SIM105",
]
target-version = "py39"

[tool.ruff.lint.per-file-ignores]
"gooddata-pandas/gooddata_pandas/__init__.py" = ["F401"]
"gooddata-sdk/gooddata_sdk/*/__init__.py" = ["F401"]
"gooddata-sdk/gooddata_sdk/__init__.py" = ["F401"]
"gooddata-dbt/gooddata_dbt/__init__.py" = ["F401"]
"gooddata-fdw/gooddata_fdw/__init__.py" = ["F401"]
"gooddata-flight-server/gooddata_flight_server/__init__.py" = ["F401"]
"gooddata-flexconnect/gooddata_flexconnect/__init__.py" = ["F401"]

[tool.ruff.format]
exclude = ['(gooddata-api-client|.*\.snapshot\..*)']
# use ruff to format code examples in docstrings as well
docstring-code-format = true

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.tbump]
# Uncomment this if your project is hosted on GitHub:
# github_url = "https://github.com/<user or organization>/<project>/"

[tool.tbump.version]
current = "1.42.0"
regex = '''
  (?P<major>\d+)
  \.
  (?P<minor>\d+)
  \.
  (?P<patch>\d+)
  ((a(?P<alpha>\d+))?
  |
  (\.dev(?P<dev>\d+))?)
  '''

[[tool.tbump.field]]
name = "alpha"
default = ""

[tool.tbump.git]
message_template = "Bump to {new_version}"
tag_template = "v{new_version}"

[[tool.tbump.file]]
# clients setup.py
src = "gooddata-*-client/setup.py"
search = "VERSION = \"{current_version}\""

[[tool.tbump.file]]
# fdw setup.py
src = "gooddata-fdw/setup.py"
search = "version=\"{current_version}\""

[[tool.tbump.file]]
# fdw setup.py dependency
src = "gooddata-fdw/setup.py"
search = "gooddata-sdk~={current_version}"

[[tool.tbump.file]]
# pandas setup.py
src = "gooddata-pandas/setup.py"
search = "version=\"{current_version}\""

[[tool.tbump.file]]
# pandas setup.py dependency
src = "gooddata-pandas/setup.py"
search = "gooddata-sdk~={current_version}"

[[tool.tbump.file]]
# sdk setup.py
src = "gooddata-sdk/setup.py"
search = "version=\"{current_version}\""

[[tool.tbump.file]]
# sdk setup.py dependency
src = "gooddata-sdk/setup.py"
search = "gooddata-.*-client~={current_version}"

[[tool.tbump.file]]
# sdk setup.py
src = "gooddata-dbt/setup.py"
search = "version=\"{current_version}\""

[[tool.tbump.file]]
# sdk setup.py dependency
src = "gooddata-dbt/setup.py"
search = "gooddata-sdk~={current_version}"

[[tool.tbump.file]]
# gooddata-flight-server setup.py
src = "gooddata-flight-server/setup.py"
search = "version=\"{current_version}\""

[[tool.tbump.file]]
# gooddata-flexconnect setup.py
src = "gooddata-flexconnect/setup.py"
search = "version=\"{current_version}\""

[[tool.tbump.file]]
# gooddata-flexconnect setup.py dependency
src = "gooddata-flexconnect/setup.py"
search = "gooddata-sdk~={current_version}"

[[tool.tbump.file]]
# gooddata-flexconnect setup.py dependency
src = "gooddata-flexconnect/setup.py"
search = "gooddata-flight-server~={current_version}"

[[tool.tbump.file]]
# clients README
src = "gooddata-*-client/README.md"

[[tool.tbump.file]]
# clients user agent
src = "gooddata-*-client/gooddata_*_client/api_client.py"

[[tool.tbump.file]]
# clients config
src = "gooddata-*-client/gooddata_*_client/configuration.py"

[[tool.tbump.file]]
# clients __init__.py
src = "gooddata-*-client/gooddata_*_client/__init__.py"

[[tool.tbump.file]]
# clients generator configs
src = ".openapi-generator/configs/gooddata-*-client.yaml"

[[tool.tbump.file]]
src = "gooddata-sdk/setup.py"
search = '"Documentation": "https://www.gooddata.com/docs/python-sdk/{current_version}"'

[[tool.tbump.file]]
src = "gooddata-sdk/README.md"
search = "https://www.gooddata.com/docs/python-sdk/{current_version}"

[[tool.tbump.file]]
src = "gooddata-pandas/setup.py"
search = '"Documentation": "https://gooddata-pandas.readthedocs.io/en/v{current_version}"'

[[tool.tbump.file]]
src = "gooddata-fdw/setup.py"
search = '"Documentation": "https://gooddata-fdw.readthedocs.io/en/v{current_version}"'

[[tool.tbump.file]]
src = "gooddata-flight-server/setup.py"
search = '"Documentation": "https://gooddata-flight-server.readthedocs.io/en/v{current_version}"'

[[tool.tbump.file]]
src = "gooddata-flexconnect/setup.py"
search = '"Documentation": "https://gooddata-flexconnect.readthedocs.io/en/v{current_version}"'

# You can specify a list of commands to
# run after the files have been patched
# and before the git commit is made

#  [[tool.tbump.before_commit]]
#  name = "check changelog"
#  cmd = "grep -q {new_version} Changelog.rst"

# Or run some commands after the git tag and the branch
# have been pushed:
#  [[tool.tbump.after_push]]
#  name = "publish"
#  cmd = "./publish.sh"
