@import "variables/variables";

.table-responsive,
.td-content {
    table {
        font-size: 14px;

        th,
        td {
            padding: 10px;
            border: 1px solid $color-gray-bg;
        }

        thead {
            th {
                border-bottom: 1px solid $color-gray-bg;
                background-color: $color-gray-bg;
            }
        }

        tbody {
            tr {
                &:nth-child(even),
                &:nth-child(odd) {
                    background: none;
                }
            }
        }
    }
}

.table-responsive {
    @include media-breakpoint-up(lg) {
        max-width: 80%;
    }

    &__inner {
        overflow: auto;
        display: flex;
    }

    &__wide {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 20px;
            background: linear-gradient(90deg, rgba($color-white, 0) 0%, rgba($color-white, 1) 100%);
        }
    }

    &__wide &__inner {
        padding-right: 20px;
    }
}
