# (C) 2026 GoodData Corporation
interactions:
  - request:
      body: null
      headers:
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: GET
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/entities/workspaces/demo/metrics?page=0&size=500
    response:
      body:
        string:
          data:
            - attributes:
                areRelationsValid: true
                content:
                  format: '#,##0'
                  maql: SELECT COUNT({attribute/customer_id},{attribute/order_line_id})
                createdAt: 2025-08-07 11:45
                title: '# of Active Customers'
              id: amount_of_active_customers
              links:
                self: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/entities/workspaces/demo/metrics/amount_of_active_customers
              meta:
                origin:
                  originId: demo
                  originType: NATIVE
              type: metric
            - attributes:
                areRelationsValid: true
                content:
                  format: '#,##0'
                  maql: SELECT COUNT({attribute/order_id})
                createdAt: 2025-08-07 11:45
                title: '# of Orders'
              id: amount_of_orders
              links:
                self: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/entities/workspaces/demo/metrics/amount_of_orders
              meta:
             [...]
  - request:
      body:
        execution:
          attributes: []
          filters: []
          measures:
            - definition:
                measure:
                  computeRatio: false
                  filters: []
                  item:
                    identifier:
                      id: amount_of_active_customers
                      type: metric
              localIdentifier: amount_of_active_customers
        resultSpec:
          dimensions:
            - itemIdentifiers:
                - measureGroup
              localIdentifier: dim_0
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/afm/execute
    response:
      body:
        string:
          executionResponse:
            dimensions:
              - headers:
                  - measureGroupHeaders:
                      - format: '#,##0'
                        localIdentifier: amount_of_active_customers
                        name: '# of Active Customers'
                localIdentifier: dim_0
            links:
              executionResult: 34b91fa802056e63c5e6e995329aa589eae6289a:6251666c9a602a64d881b86414484f5a7bffb831ec896a3b622e74d699a77a2d
      headers:
        Content-Type:
          - application/json
        X-GDC-CANCEL-TOKEN: *id001
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/dataSources/demo-test-ds/uploadNotification
    response:
      body:
        string: ''
      headers:
        X-GDC-TRACE-ID: *id001
      status:
        code: 204
        message: No Content
[...]
