# (C) 2026 GoodData Corporation
version: 1
interactions:
  - request:
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/afm/execute
      body:
        execution:
          attributes:
            - label:
                identifier:
                  id: region
                  type: label
              localIdentifier: region
            - label:
                identifier:
                  id: state
                  type: label
              localIdentifier: state
          filters: []
          measures:
            - definition:
                measure:
                  item:
                    identifier:
                      id: price
                      type: fact
                  aggregation: SUM
                  computeRatio: false
                  filters: []
              localIdentifier: price
            - definition:
                measure:
                  item:
                    identifier:
                      id: order_amount
                      type: metric
                  computeRatio: false
                  filters: []
              localIdentifier: order_amount
        resultSpec:
          dimensions:
            - itemIdentifiers:
                - state
                - region
              localIdentifier: dim_0
            - itemIdentifiers:
                - measureGroup
              localIdentifier: dim_1
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-GDC-CANCEL-TOKEN:
          - 7a74a245-dfbc-4c85-b138-2f31849c1856
        X-GDC-TRACE-ID: *id001
      body:
        string:
          executionResponse:
            dimensions:
              - headers:
                  - attributeHeader:
                      localIdentifier: state
                      label:
                        id: state
                        type: label
                      labelName: State
                      attribute:
                        id: state
                        type: attribute
                      attributeName: State
                      granularity: null
                      primaryLabel:
                        id: state
                        type: label
                      valueType: TEXT
                  - attributeHeader:
                      localIdentifier: region
                      label:
                        id: region
                        type: label
                      labelName: Region
                      attribute:
                        id: region
                        type: attribute
                      attributeName: Region
                      granularity: null
                      primaryLabel:
                        id: region
                        type: label
                      valueType: TEXT
                localIdentifier: dim_0
              - headers:
                  - measureGroupHeaders:
                      - localIdentifier: price
                      - localIdentifier: order_amount
                        format: $#,##0
                        name: Order Amount
                localIdentifier: dim_1
            links:
              executionResult: 02023d75d2dda2fa71af2a31a06edb83a734234b:5598a2eccd77edb85ac25038aba7e9783f9f586d333a57be6f7d4e7a740454d5
  - request:
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/export/tabular
      body:
        fileName: test_csv
        format: CSV
        executionResult: 02023d75d2dda2fa71af2a31a06edb83a734234b:5598a2eccd77edb85ac25038aba7e9783f9f586d333a57be6f7d4e7a740454d5
        customOverride:
          labels:
            region:
              title: Custom Title Region
          metrics:
            price:
              format: ''
              title: Sum Of Price
            order_amount:
              format: '#,##0.00'
              title: Order Amount Metric
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      body:
        string:
          exportResult: 8243e110f5d6b040d29a3bb930a61db809084ae8
  - request:
      method: GET
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/export/tabular/8243e110f5d6b040d29a3bb930a61db809084ae8
      body: null
      headers:
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
    response:
      status:
        code: 202
        message: Accepted
      headers:
        X-GDC-TRACE-ID: *id001
      body:
        string: ''
  - request:
      method: GET
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/export/tabular/8243e110f5d6b040d29a3bb930a61db809084ae8
      body: null
      headers:
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Disposition:
          - attachment; filename="=?UTF-8?Q?test=5Fcsv.csv?="; filename*=UTF-8''test_csv.csv
        Content-Type:
          - text/csv
        X-GDC-TRACE-ID: *id001
      body:
        string: "\uFEFF\"State\",\"Custom Title Region\",\"Sum Of Price\",\"Order\
          \ Amount Metric\"\nAlabama,South,6198.55,6675.95\nAlaska,West,4983.36,5444.84\n\
          Arizona,West,10279.68,10941.25\nArkansas,South,4683.68,5000.96\nCalifornia,West,57411.81,67385.27\n\
          Colorado,West,10012.02,10[...]
