# (C) 2026 GoodData Corporation
interactions:
  - request:
      body:
        execution:
          attributes:
            - label:
                identifier:
                  id: region
                  type: label
              localIdentifier: region
            - label:
                identifier:
                  id: state
                  type: label
              localIdentifier: state
          filters: []
          measures:
            - definition:
                measure:
                  aggregation: SUM
                  computeRatio: false
                  filters: []
                  item:
                    identifier:
                      id: price
                      type: fact
              localIdentifier: price
            - definition:
                measure:
                  computeRatio: false
                  filters: []
                  item:
                    identifier:
                      id: order_amount
                      type: metric
              localIdentifier: order_amount
        resultSpec:
          dimensions:
            - itemIdentifiers:
                - state
                - region
              localIdentifier: dim_0
            - itemIdentifiers:
                - measureGroup
              localIdentifier: dim_1
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/afm/execute
    response:
      body:
        string:
          executionResponse:
            dimensions:
              - headers:
                  - attributeHeader:
                      attribute:
                        id: state
                        type: attribute
                      attributeName: State
                      granularity: null
                      label:
                        id: state
                        type: label
                      labelName: State
                      localIdentifier: state
                      primaryLabel:
                        id: state
                        type: label
                      valueType: TEXT
                  - attributeHeader:
                      attribute:
                        id: region
                        type: attribute
                      attributeName: Region
                      granularity: null
                      label:
                        id: region
                        type: label
                      labelName: Region
                      localIdentifier: region
                      primaryLabel:
                        id: region
                        type: label
                      valueType: TEXT
                localIdentifier: dim_0
              - headers:
                  - measureGroupHeaders:
                      - localIdentifier: price
                      - format: $#,##0
                        localIdentifier: order_amount
                        name: Order Amount
                localIdentifier: dim_1
            links:
              executionResult: 8865ac0d0588a3315c860a02cfd72053dac0042f:1ade8d8f3a5e904acdfeea9edecb943684ad6d44246ea9ecdb11ed3f06559501
      headers:
        Content-Type:
          - application/json
        X-GDC-CANCEL-TOKEN: *id001
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
  - request:
      body:
        customOverride:
          labels:
            region:
              title: Custom Title Region
          metrics:
            order_amount:
              format: '#,##0.00'
              title: Order Amount Metric
            price:
              format: ''
              title: Sum Of Price
        executionResult: 8865ac0d0588a3315c860a02cfd72053dac0042f:1ade8d8f3a5e904acdfeea9edecb943684ad6d44246ea9ecdb11ed3f06559501
        fileName: test_csv
        format: CSV
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/export/tabular
    response:
      body:
        string:
          exportResult: 33d1cd0c5079fb69e263b170690d4351fea77840
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: GET
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/export/tabular/33d1cd0c5079fb69e263b170690d4351fea77840
    response:
      body:
        string: "\uFEFF\"State\",\"Custom Title Region\",\"Sum Of Price\",\"Order\
          \ Amount Metric\"\nAlabama,South,6198.55,6675.95\nAlask[...]
