# (C) 2026 GoodData Corporation
interactions:
  - request:
      body:
        execution:
          attributes:
            - label:
                identifier:
                  id: region
                  type: label
              localIdentifier: region
            - label:
                identifier:
                  id: state
                  type: label
              localIdentifier: state
          filters: []
          measures:
            - definition:
                measure:
                  aggregation: SUM
                  computeRatio: false
                  filters: []
                  item:
                    identifier:
                      id: price
                      type: fact
              localIdentifier: price
            - definition:
                measure:
                  computeRatio: false
                  filters: []
                  item:
                    identifier:
                      id: order_amount
                      type: metric
              localIdentifier: order_amount
        resultSpec:
          dimensions:
            - itemIdentifiers:
                - state
                - region
              localIdentifier: dim_0
            - itemIdentifiers:
                - measureGroup
              localIdentifier: dim_1
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/afm/execute
    response:
      body:
        string:
          executionResponse:
            dimensions:
              - headers:
                  - attributeHeader:
                      attribute:
                        id: state
                        type: attribute
                      attributeName: State
                      granularity: null
                      label:
                        id: state
                        type: label
                      labelName: State
                      localIdentifier: state
                      primaryLabel:
                        id: state
                        type: label
                      valueType: TEXT
                  - attributeHeader:
                      attribute:
                        id: region
                        type: attribute
                      attributeName: Region
                      granularity: null
                      label:
                        id: region
                        type: label
                      labelName: Region
                      localIdentifier: region
                      primaryLabel:
                        id: region
                        type: label
                      valueType: TEXT
                localIdentifier: dim_0
              - headers:
                  - measureGroupHeaders:
                      - localIdentifier: price
                      - format: $#,##0
                        localIdentifier: order_amount
                        name: Order Amount
                localIdentifier: dim_1
            links:
              executionResult: 98d2acd22110480ba3abf854d95ed1893a0a7c26:64e305ea99882dd9cf927498ab34d4635823becaf25db6ade37fe1f4e9fe6c04
      headers:
        Content-Type:
          - application/json
        X-GDC-CANCEL-TOKEN: *id001
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
  - request:
      body:
        customOverride:
          labels:
            region:
              title: Custom Title Region
          metrics:
            order_amount:
              format: '#,##0.00'
              title: Order Amount Metric
            price:
              format: ''
              title: Sum Of Price
        executionResult: 98d2acd22110480ba3abf854d95ed1893a0a7c26:64e305ea99882dd9cf927498ab34d4635823becaf25db6ade37fe1f4e9fe6c04
        fileName: test_csv
        format: CSV
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/export/tabular
    response:
      body:
        string:
          exportResult: 276c81c071db613ff56e74e006d62044dd8a6eaa
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: GET
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/export/tabular/276c81c071db613ff56e74e006d62044dd8a6eaa
    response:
      body:
        string:
          detail: Execution metadata not found
          status: 400
          title: Bad Request
          traceId: 69cb7b138e1c15d6bf23e366c3f8db61
      headers:
        Content-Type:
          - application/problem+json
        X-GDC-TRACE-ID: *id001
      status:
        code: 400
        message: Bad Request
[...]
