// -------------------------------------
// Colors
// -------------------------------------

// Brand
$color-deep-purple:     #1C0D3F;
$color-indigo:          #1B127D;
$color-cobalt-blue:	    #2637EF;
$color-shocking-pink:   #CF119C;
$color-violet:          #8104CA;
$color-jade-green:      #A3FFB0;
$color-emerald-green:   #20CA8B;

// Brand grays
$color-dove-gray:       #BFC9D1;
$color-cloud-gray:      #DFE4E8;
$color-mist-gray:       #F2F4F6;

// Old Brand
$color-blue-white:      #E7F7FC;
$color-blue-light:      #14B2E2;
$color-blue-dark:       #1782BE;
$color-green:           #00C18D;

// Layout
$color-gray-background: #4f4f4f;
$color-gray-steel:      #4A6172;
$color-gray-white:      #F6F6F6;
$color-gray-bone:       #F0F2F5;
$color-gray-chalk:      #D7DFE5;
$color-gray-tag:        #94A1AD;
$color-gray-divider:    #979797;

// Black & White
$color-black:           #000000;
$color-white:           #ffffff;

// Gradients
$color-pink:            #c86dd7;
$color-purple:          #3023ae;
$color-blue-marine:     #0dbfb6;
$color-blue-azure:      #286dae;
$color-blue-dark:       #2744a3;
$color-blue-ocean:      #1f4162;
$color-blue-navy:       #161e2b;
$color-blue-very-dark:  #0a0d14;

// Backgrounds
$color-bg-dark:         #1C2027;
$color-bg-gray:         #FAFAFA;
