# (C) 2026 GoodData Corporation
interactions:
  - request:
      body: null
      headers:
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: GET
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/layout/workspaces/demo/logicalModel
    response:
      body:
        string:
          ldm:
            datasets:
              - aggregatedFacts: []
                attributes:
                  - description: Campaign channel id
                    id: campaign_channel_id
                    labels: []
                    sourceColumn: campaign_channel_id
                    sourceColumnDataType: STRING
                    tags:
                      - Campaign channels
                    title: Campaign channel id
                  - description: Category
                    id: campaign_channels.category
                    labels: []
                    sourceColumn: category
                    sourceColumnDataType: STRING
                    tags:
                      - Campaign channels
                    title: Category
                  - description: Type
                    id: type
                    labels: []
                    sourceColumn: type
                    sourceColumnDataType: STRING
                    tags:
                      - Campaign channels
                    title: Type
                dataSourceTableId:
                  dataSourceId: demo-test-ds
                  id: campaign_channels
                  path:
                    - demo
                    - campaign_channels
                  type: dataSource
                description: Campaign channels
                facts:
                  - description: Budget
                    id: budget
                    sourceColumn: budget
                    sourceColumnDataType: NUMERIC
                    tags:
                      - Campaign channels
                    title: Budget
                  - description: Spend
                    id: spend
                    sourceColumn: spend
                    sourceColumnDataType: NUMERIC
                    tags:
                      - Campaign channels
                    title: Spend
                grain:
                  - id: campaign_channel_id
                    type: attribute
                id: campaign_channels
                references:
                  - identifier:
                      id: campaigns
                      type: dataset
                    multivalue: false
                    sources:
                      - column: campaign_id
                        dataType: INT
                        target:
                          id: campaign_id
                          type: attribute
                tags:
                  - Campaign channels
                title: Campaign channels
              - aggregatedFacts:
                  - description: Budget Agg
                    id: budget_agg
                    sourceColumn: budget
                    sourceColumnDataType: INT
                    sourceFactReference:
                      operation: SUM
                      reference:
                        id: budget
                        type: fact
                    tags:
                      - Campaign channels per category
                attributes: []
                description: Campaign channels per categories
                facts: []
                grain: []
                id: campaign_channels_per_category
                precedence: 1
                references:
                  - identifier:
                      id: campaign_channels
                      type: dataset
                    multivalue: false
                    sources:
                      - column: campaign_channel_id
                        dataType: STRING
                        target:
                          id: campaign_channel_id
                          type: attribute
                sql:
                  dataSourceId: demo-test-ds
                  statement: SELECT category, SUM(budget) FROM campaign_channels GROUP
                    BY category
                tags:
                  - Campaign channels per category
                title: Campaign channels per category
              - aggregatedFacts: []
                attributes:
                  - description: Campaign id
                    id: campaign_id
                    labels: []
                    sourceColumn: campaign_id
                    sourceColumnDataType: INT
              [...]
  - request:
      body:
        ldm:
          datasets:
            - aggregatedFacts: []
              attributes:
                - description: Campaign channel id
                  id: campaign_channel_id
                  labels: []
                  sourceColumn: campaign_channel_id
                  sourceColumnDataType: STRING
                  tags:
                    - Campaign channels
                  title: Campaign channel id
                - description: Category
            [...]
[...]
  - request:
      body: null
      headers:
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: GET
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/entities/workspaces/demo/attributes?include=labels%2Cdatasets&page=0&size=500
    response:
      body:
        string:
          data:
            - attributes:
                areRelationsValid: true
                description: Campaign channel id
                sourceColumn: campaign_channel_id
                sourceColumnDataType: STRING
                tags:
                  - Campaign channels
                title: Campaign channel id
              id: campaign_channel_id
              links:
                self: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/entities/workspaces/demo/attributes/campaign_channel_id
              meta:
                origin:
                  originId: demo
                  originType: NATIVE
              relationships:
                dataset:
                  data:
                    id: campaign_channels
                    type: dataset
                labels:
                  data:
                    - id: campaign_channel_id
                      type: label
              type: attribute
            - attributes:
                areRelationsValid: true
                description: Category
                sourceColumn: category
                sourceColumnDataType: STRING
                tags:
                  - Campaign ch[...]
  - request:
      body: null
      headers:
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: GET
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/entities/workspaces/demo/datasets?include=attributes%2Cfacts%2CaggregatedFacts&page=0&size=500
    response:
      body:
        string:
          data:
            - attributes:
                areRelationsValid: true
                dataSourceTableId: demo-test-ds:campaign_channels
                dataSourceTablePath:
                  - demo
                  - campaign_channels
                description: Campaign channels
                grain:
                  - id: campaign_channel_id
                    type: attribute
                referenceProperties:
                  - identifier:
                      id: campaigns
                      type: dataset
                    multivalue: false
                    sourceColumnDataTypes: null
                    sourceColumns: null
                    sources:
                      - column: campaign_id
                        dataType: INT
                        isNullable: null
                        nullValue: null
                        target:
                          id: campaign_id
                          type: attribute
                tags:
                  - Campaign channels
                title: Campaign channels
                type: NORMAL
              id: campaign_channels
              links:
                self: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/entities/workspaces/demo/datasets/campaign_channels
              meta:
                origin:
       [...]
  - request:
      body: null
      headers:
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: GET
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/entities/workspaces/demo/metrics?page=0&size=500
    response:
      body:
        string:
          data:
            - attributes:
                areRelationsValid: true
                content:
                  format: '#,##0'
                  maql: SELECT COUNT({attribute/customer_id},{attribute/order_line_id})
                createdAt: 2026-03-31 07:27
                title: '# of Active Customers'
              id: amount_of_active_customers
              links:
                self: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/entities/workspaces/demo/metrics/amount_of_active_customers
              meta:
                origin:
                  originId: demo
                  originType: NATIVE
              type: metric
            - attributes:
                areRelationsValid: true
              [...]
  - request:
      body:
        workspaceDataFilters:
          - columnName: wdf__region
            id: wdf__region
            title: Customer region
            workspace:
              id: demo
              type: workspace
            workspaceDataFilterSettings:
              - filterValues:
                  - West
                id: region_west
                title: Region West
                workspace:
                  id: demo_west
                  type: workspace
          - columnName: wdf__state
            id: wdf__state
            title: Customer state
            workspace:
              id: demo_west
              type: workspace
            workspaceDataFilterSettings:
              - filterValues:
                  - California
                id: region_west_california
                title: Region West California
                workspace:
                  id: demo_west_california
                  type: workspace
        workspaces:
          - automations: []
            customApplicationSettings: []
            filterViews: []
            hierarchyPermissions:
              - assignee:
                  id: demo2
                  type: user
                name: MANAGE
              - assignee:
                  id: demoGroup
                  type: userGroup
                name: ANALYZE
            id: demo
            model:
              analytics:
                analyticalDashboardExtensions: []
                analyticalDashboards:
                  - content:
                      filterContextRef:
                        identifier:
                          id: campaign_name_filter
                          type: filterContext
                      layout:
                        sections:
                          - header:
                              description: The first insight shows a breakdown of
                                spend by category and campaign. The second shows revenue
                                per $ spend, for each campaign, to demonstrate, how
                                campaigns are successful.
                              title: Spend breakdown and Revenue
                            items:
                              - size:
                                  xl:
                                    gridWidth: 6
                                type: IDashboardLayoutItem
                                widget:
                                  description: ''
                                  drills: []
                                  ignoreDashboardFilters: []
                                  insight:
                                    identifier:
                                      id: campaign_spend
                                      type: visualizationObject
                                  properties: {}
                                  title: Campaign Spend
                                  type: insight
                              - size:
                                  xl:
                                    gridWidth: 6
                                type: IDashboardLayoutItem
                                widget:
                                  description: ''
                                  drills: []
                                  ignoreDashboardFilters: []
                                  insight:
                                    identifier:
                                      id: revenue_per_usd_vs_spend_by_campaign
                                      type: visualizationObject
                                  properties: {}
                                  title: Revenue per $ vs Spend by Campaign
                                  type: insight
                            type: IDashboardLayoutSection
                        type: IDashboardLayout
                      version: '2'
                    description: ''
                    id: campaign
                    permissions:
                      - assigneeRule:
                          type: allWorkspaceUsers
                        name: VIEW
                    title: Campaign
                  - content:
                      filterContextRef:
                        identifier:
                          id: campaign_name_filter
                          type: filterContext
                      layout:
                        sections:
                          - items:
                              - size:
                                  xl:
                                    gridWidth: 12
                                type: IDashboardLayoutItem
                                widget:
                                  description: ''
                                  drills: []
                                  ignoreDashboardFilters: []
                                  insight:
                                    identifier:
                                      id: top_10_products
                                      type: visualizationObject
                                  properties: {}
                                  title: DHO simple
                                  type: insight
                            type: IDashboardLayoutSection
                        type: IDashboardLayout
                      plugins:
                        - plugin:
                            identifier:
                              id: dashboard_plugin_1
                              type: dashboardPlugin
                          version: '2'
                      version: '2'
                    id: dashboard_plugin
                    title: Dashboard plugin
                  - content:
                      filterContextRef:
                        identifier:
                          id: region_filter
                          type: filterContext
                      layout:
                        sections:
                          - items:
                              - size:
                                  xl:
                                    gridWidth: 6
                                type: IDashboardLayoutItem
                                widget:
                                  dateDataSet:
                                    identifier:
                                      id: date
                                      type: dataset
                                  description: ''
                                  drills: []
                                  ignoreDashboardFilters: []
                                  insight:
                                    identifier:
                                      id: top_10_products
                                      type: vis[...]
