# (C) 2026 GoodData Corporation
interactions:
  - request:
      body:
        dependsOn:
          - complementFilter: false
            label: order_status
            values:
              - Canceled
              - Delivered
        label: order_status
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
    response:
      body:
        string:
          cacheId: 68645e3938b74c3e2f53f4babbaf597a
          elements:
            - primaryTitle: Canceled
              title: Canceled
            - primaryTitle: Delivered
              title: Delivered
          paging:
            count: 2
            next: null
            offset: 0
            total: 2
          primaryLabel:
            id: order_status
            type: label
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
[...]
  - request:
      body:
        dependsOn:
          - dateFilter:
              absoluteDateFilter:
                dataset:
                  identifier:
                    id: date
                    type: dataset
                from: '2150-07-01'
                to: '2150-07-16'
        label: order_status
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
    response:
      body:
        string:
          cacheId: 6091d1df885a0acd5cff93578f9f13f5
          elements: []
          paging:
            count: 0
            next: null
            offset: 0
            total: 0
          primaryLabel:
            id: order_status
            type: label
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
  - request:
      body:
        dependsOn:
          - dateFilter:
              relativeDateFilter:
                dataset:
                  identifier:
                    id: date
                    type: dataset
                from: 3600
                granularity: DAY
                to: 3700
        label: order_status
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
    response:
      body:
        string:
          cacheId: 6eabc28831bdd7f7c5ea18a57bbaaf6e
          elements: []
          paging:
            count: 0
            next: null
            offset: 0
            total: 0
          primaryLabel:
            id: order_status
            type: label
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
[...]
  - request:
      body:
        dependsOn: []
        label: order_status
        patternFilter: Deli
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
    response:
      body:
        string:
          cacheId: eec3adce2b849254fd2a0f7bc0da7a98
          elements:
            - primaryTitle: Delivered
              title: Delivered
          paging:
            count: 1
            next: null
            offset: 0
            total: 1
          primaryLabel:
            id: order_status
            type: label
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
[...]
  - request:
      body:
        dependsOn: []
        label: order_status
        sortOrder: DESC
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
    response:
      body:
        string:
          cacheId: 5922e98c359f336f5c245b89a8cf7284
          elements:
            - primaryTitle: Returned
              title: Returned
            - primaryTitle: Delivered
              title: Delivered
            - primaryTitle: Canceled
              title: Canceled
          paging:
            count: 3
            next: null
            offset: 0
            total: 3
          primaryLabel:
            id: order_status
            type: label
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
  - request:
      body:
        dependsOn: []
        label: order_status
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements?offset=1&limit=1
    response:
      body:
        string:
          cacheId: b05d360984c180e372cf71766facbaf0
          elements:
            - primaryTitle: Delivered
              title: Delivered
          paging:
            count: 1
            next: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements?limit=1&offset=2
            offset: 1
            total: 3
          primaryLabel:
            id: order_status
            type: label
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
version: 1
