# (C) 2026 GoodData Corporation
version: 1
interactions:
  - request:
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
      body:
        label: order_status
        dependsOn:
          - label: order_status
            values:
              - Canceled
              - Delivered
            complementFilter: false
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      body:
        string:
          primaryLabel:
            id: order_status
            type: label
          elements:
            - title: Canceled
              primaryTitle: Canceled
            - title: Delivered
              primaryTitle: Delivered
          paging:
            total: 2
            count: 2
            offset: 0
            next: null
          cacheId: aa29ce0b0acfc72b7b488152b1dc394c
[...]
  - request:
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
      body:
        label: order_status
        dependsOn:
          - dateFilter:
              absoluteDateFilter:
                dataset:
                  identifier:
                    id: date
                    type: dataset
                from: '2150-07-01'
                to: '2150-07-16'
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      body:
        string:
          primaryLabel:
            id: order_status
            type: label
          elements: []
          paging:
            total: 0
            count: 0
            offset: 0
            next: null
          cacheId: bae075546ebbe3012d270ac44be24d3d
  - request:
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
      body:
        label: order_status
        dependsOn:
          - dateFilter:
              relativeDateFilter:
                dataset:
                  identifier:
                    id: date
                    type: dataset
                from: 3600
                granularity: DAY
                to: 3700
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      body:
        string:
          primaryLabel:
            id: order_status
            type: label
          elements: []
          paging:
            total: 0
            count: 0
            offset: 0
            next: null
          cacheId: 02c087ef137761b52b78cb53e865d9b2
[...]
  - request:
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
      body:
        label: order_status
        dependsOn: []
        validateBy: []
        patternFilter: Deli
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      body:
        string:
          primaryLabel:
            id: order_status
            type: label
          elements:
            - title: Delivered
              primaryTitle: Delivered
          paging:
            total: 1
            count: 1
            offset: 0
            next: null
          cacheId: aac53166877308a6883016dcb824971b
[...]
  - request:
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
      body:
        label: order_status
        dependsOn: []
        validateBy: []
        sortOrder: DESC
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      body:
        string:
          primaryLabel:
            id: order_status
            type: label
          elements:
            - title: Returned
              primaryTitle: Returned
            - title: Delivered
              primaryTitle: Delivered
            - title: Canceled
              primaryTitle: Canceled
          paging:
            total: 3
            count: 3
            offset: 0
            next: null
          cacheId: 411ad9655331584b50df58a262a29cf4
  - request:
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements?offset=1&limit=1
      body:
        label: order_status
        dependsOn: []
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      body:
        string:
          primaryLabel:
            id: order_status
            type: label
          elements:
            - title: Delivered
              primaryTitle: Delivered
          paging:
            total: 3
            count: 1
            offset: 1
            next: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements?limit=1&offset=2
          cacheId: 8fb034e5fd0dd18ae306dfacb1dd4f1f
