# (C) 2026 GoodData Corporation
interactions:
  - request:
      body:
        dependsOn:
          - complementFilter: false
            label: order_status
            values:
              - Canceled
              - Delivered
        label: order_status
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
    response:
      body:
        string:
          cacheId: 87b1d19247d22445af449eb29b1927c1
          elements:
            - primaryTitle: Canceled
              title: Canceled
            - primaryTitle: Delivered
              title: Delivered
          paging:
            count: 2
            next: null
            offset: 0
            total: 2
          primaryLabel:
            id: order_status
            type: label
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
[...]
  - request:
      body:
        dependsOn:
          - dateFilter:
              absoluteDateFilter:
                dataset:
                  identifier:
                    id: date
                    type: dataset
                from: '2150-07-01'
                to: '2150-07-16'
        label: order_status
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
    response:
      body:
        string:
          cacheId: 7409d4142a508bac8bb5085b2db10f73
          elements: []
          paging:
            count: 0
            next: null
            offset: 0
            total: 0
          primaryLabel:
            id: order_status
            type: label
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
  - request:
      body:
        dependsOn:
          - dateFilter:
              relativeDateFilter:
                dataset:
                  identifier:
                    id: date
                    type: dataset
                from: 3600
                granularity: DAY
                to: 3700
        label: order_status
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
    response:
      body:
        string:
          cacheId: 3051483e32b441cbf58392485005a4d4
          elements: []
          paging:
            count: 0
            next: null
            offset: 0
            total: 0
          primaryLabel:
            id: order_status
            type: label
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
[...]
  - request:
      body:
        dependsOn: []
        label: order_status
        patternFilter: Deli
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
    response:
      body:
        string:
          cacheId: 8cc9f6d50cf5804159132577c52851a2
          elements:
            - primaryTitle: Delivered
              title: Delivered
          paging:
            count: 1
            next: null
            offset: 0
            total: 1
          primaryLabel:
            id: order_status
            type: label
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
[...]
  - request:
      body:
        dependsOn: []
        label: order_status
        sortOrder: DESC
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
    response:
      body:
        string:
          cacheId: 81857ef9d8c2281ec5651a4afc4f4d41
          elements:
            - primaryTitle: Returned
              title: Returned
            - primaryTitle: Delivered
              title: Delivered
            - primaryTitle: Canceled
              title: Canceled
          paging:
            count: 3
            next: null
            offset: 0
            total: 3
          primaryLabel:
            id: order_status
            type: label
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
  - request:
      body:
        dependsOn: []
        label: order_status
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements?offset=1&limit=1
    response:
      body:
        string:
          cacheId: d4a5f65d408f938672b15262a97aa5c2
          elements:
            - primaryTitle: Delivered
              title: Delivered
          paging:
            count: 1
            next: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements?limit=1&offset=2
            offset: 1
            total: 3
          primaryLabel:
            id: order_status
            type: label
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
version: 1
