# (C) 2026 GoodData Corporation
interactions:
  - request:
      body:
        dependsOn:
          - complementFilter: false
            label: order_status
            values:
              - Canceled
              - Delivered
        label: order_status
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
    response:
      body:
        string:
          cacheId: 576135bd01d21d12cc5ddb5975305aa3
          elements:
            - primaryTitle: Canceled
              title: Canceled
            - primaryTitle: Delivered
              title: Delivered
          paging:
            count: 2
            next: null
            offset: 0
            total: 2
          primaryLabel:
            id: order_status
            type: label
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
[...]
  - request:
      body:
        dependsOn:
          - dateFilter:
              absoluteDateFilter:
                dataset:
                  identifier:
                    id: date
                    type: dataset
                from: '2150-07-01'
                to: '2150-07-16'
        label: order_status
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
    response:
      body:
        string:
          cacheId: b8bf56849f8779c2c61274c5e4dd48d7
          elements: []
          paging:
            count: 0
            next: null
            offset: 0
            total: 0
          primaryLabel:
            id: order_status
            type: label
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
  - request:
      body:
        dependsOn:
          - dateFilter:
              relativeDateFilter:
                dataset:
                  identifier:
                    id: date
                    type: dataset
                from: 3600
                granularity: DAY
                to: 3700
        label: order_status
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
    response:
      body:
        string:
          cacheId: 07ae5b5173af041da3d535074cc0963e
          elements: []
          paging:
            count: 0
            next: null
            offset: 0
            total: 0
          primaryLabel:
            id: order_status
            type: label
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
[...]
  - request:
      body:
        dependsOn: []
        label: order_status
        patternFilter: Deli
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
    response:
      body:
        string:
          cacheId: 8bab8c6c1e261249172e06c18b7d0393
          elements:
            - primaryTitle: Delivered
              title: Delivered
          paging:
            count: 1
            next: null
            offset: 0
            total: 1
          primaryLabel:
            id: order_status
            type: label
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
[...]
  - request:
      body:
        dependsOn: []
        label: order_status
        sortOrder: DESC
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
    response:
      body:
        string:
          cacheId: 3b3ecbb95dc957f176d0717e80e92502
          elements:
            - primaryTitle: Returned
              title: Returned
            - primaryTitle: Delivered
              title: Delivered
            - primaryTitle: Canceled
              title: Canceled
          paging:
            count: 3
            next: null
            offset: 0
            total: 3
          primaryLabel:
            id: order_status
            type: label
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
  - request:
      body:
        dependsOn: []
        label: order_status
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements?offset=1&limit=1
    response:
      body:
        string:
          cacheId: 6e664ba378c2019eaec9398a2ca62918
          elements:
            - primaryTitle: Delivered
              title: Delivered
          paging:
            count: 1
            next: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements?limit=1&offset=2
            offset: 1
            total: 3
          primaryLabel:
            id: order_status
            type: label
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
version: 1
