# (C) 2026 GoodData Corporation
interactions:
  - request:
      body:
        dependsOn:
          - complementFilter: false
            label: order_status
            values:
              - Canceled
              - Delivered
        label: order_status
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
    response:
      body:
        string:
          cacheId: 7e20151a250c88e2e2a19c7debfe6420
          elements:
            - primaryTitle: Canceled
              title: Canceled
            - primaryTitle: Delivered
              title: Delivered
          paging:
            count: 2
            next: null
            offset: 0
            total: 2
          primaryLabel:
            id: order_status
            type: label
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
[...]
  - request:
      body:
        dependsOn:
          - dateFilter:
              absoluteDateFilter:
                dataset:
                  identifier:
                    id: date
                    type: dataset
                from: '2150-07-01'
                to: '2150-07-16'
        label: order_status
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
    response:
      body:
        string:
          cacheId: d30cc99cfe868a2e26c957f4e2062163
          elements: []
          paging:
            count: 0
            next: null
            offset: 0
            total: 0
          primaryLabel:
            id: order_status
            type: label
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
  - request:
      body:
        dependsOn:
          - dateFilter:
              relativeDateFilter:
                dataset:
                  identifier:
                    id: date
                    type: dataset
                from: 3600
                granularity: DAY
                to: 3700
        label: order_status
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
    response:
      body:
        string:
          cacheId: fd16c9926ad0bdc8737625c87588454c
          elements: []
          paging:
            count: 0
            next: null
            offset: 0
            total: 0
          primaryLabel:
            id: order_status
            type: label
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
[...]
  - request:
      body:
        dependsOn: []
        label: order_status
        patternFilter: Deli
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
    response:
      body:
        string:
          cacheId: c9e8ac3ef326545541963fa6e758e7ba
          elements:
            - primaryTitle: Delivered
              title: Delivered
          paging:
            count: 1
            next: null
            offset: 0
            total: 1
          primaryLabel:
            id: order_status
            type: label
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
[...]
  - request:
      body:
        dependsOn: []
        label: order_status
        sortOrder: DESC
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements
    response:
      body:
        string:
          cacheId: ab84a4b507307a5bee4b221a47ffa45e
          elements:
            - primaryTitle: Returned
              title: Returned
            - primaryTitle: Delivered
              title: Delivered
            - primaryTitle: Canceled
              title: Canceled
          paging:
            count: 3
            next: null
            offset: 0
            total: 3
          primaryLabel:
            id: order_status
            type: label
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
  - request:
      body:
        dependsOn: []
        label: order_status
        validateBy: []
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements?offset=1&limit=1
    response:
      body:
        string:
          cacheId: 92f848c0e7be833a49b4ca458a2e7490
          elements:
            - primaryTitle: Delivered
              title: Delivered
          paging:
            count: 1
            next: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/collectLabelElements?limit=1&offset=2
            offset: 1
            total: 3
          primaryLabel:
            id: order_status
            type: label
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
version: 1
