# (C) 2026 GoodData Corporation
interactions:
  - request:
      body:
        execution:
          attributes:
            - label:
                identifier:
                  id: region
                  type: label
              localIdentifier: attr1
          filters: []
          measures: []
        resultSpec:
          dimensions:
            - itemIdentifiers:
                - attr1
              localIdentifier: dim_0
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/afm/execute
    response:
      body:
        string:
          executionResponse:
            dimensions:
              - headers:
                  - attributeHeader:
                      attribute:
                        id: region
                        type: attribute
                      attributeName: Region
                      granularity: null
                      label:
                        id: region
                        type: label
                      labelName: Region
                      localIdentifier: attr1
                      primaryLabel:
                        id: region
                        type: label
                      valueType: TEXT
                localIdentifier: dim_0
            links:
              executionResult: b600cee1eccf4c138e3790f4c7d5b067a434cbc1:093a2838074bb4231abffeb8183e2ad4eb083591c7ea0873f02cbb8c4cbeb5ee
      headers:
        Content-Type:
          - application/json
        X-GDC-CANCEL-TOKEN: *id001
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: GET
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/afm/execute/result/b600cee1eccf4c138e3790f4c7d5b067a434cbc1%3A093a2838074bb4231abffeb8183e2ad4eb083591c7ea0873f02cbb8c4cbeb5ee?offset=0&limit=512
    response:
      body:
        string:
          data: []
          dimensionHeaders:
            - headerGroups:
                - headers:
                    - attributeHeader:
                        labelValue: Midwest
                        primaryLabelValue: Midwest
                    - attributeHeader:
                        labelValue: Northeast
                        primaryLabelValue: Northeast
                    - attributeHeader:
                        labelValue: South
                        primaryLabelValue: South
                    - attributeHeader:
                        labelValue: Unknown
                        primaryLabelValue: Unknown
                    - attributeHeader:
                        labelValue: West
                        primaryLabelValue: West
          grandTotals: []
          metadata:
            dataSourceMessages: []
          paging:
            count:
              - 5
            offset:
              - 0
            total:
              - 5
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
version: 1
