# (C) 2026 GoodData Corporation
version: 1
interactions:
  - request:
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/afm/execute
      body:
        execution:
          attributes: []
          filters: []
          measures:
            - definition:
                measure:
                  item:
                    identifier:
                      id: order_amount
                      type: metric
                  computeRatio: false
                  filters: []
              localIdentifier: metric1
        resultSpec:
          dimensions:
            - itemIdentifiers:
                - measureGroup
              localIdentifier: dim_0
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-GDC-CANCEL-TOKEN:
          - 772ed5c6-3bd2-4cb0-81ad-1c9a555afac9
        X-GDC-TRACE-ID: *id001
      body:
        string:
          executionResponse:
            dimensions:
              - headers:
                  - measureGroupHeaders:
                      - localIdentifier: metric1
                        format: $#,##0
                        name: Order Amount
                localIdentifier: dim_0
            links:
              executionResult: 6e7ecd5977fbef159d8ffc585a4c99c2b87d0d07:64a364287032033653002d8e0bad0d17eaa70a7b08263de27c3a7f9a68634897
  - request:
      method: GET
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/afm/execute/result/6e7ecd5977fbef159d8ffc585a4c99c2b87d0d07%3A64a364287032033653002d8e0bad0d17eaa70a7b08263de27c3a7f9a68634897?offset=0&limit=256
      body: null
      headers:
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      body:
        string:
          data:
            - 516058.34
          dimensionHeaders:
            - headerGroups:
                - headers:
                    - measureHeader:
                        measureIndex: 0
          grandTotals: []
          paging:
            count:
              - 1
            offset:
              - 0
            total:
              - 1
          metadata:
            dataSourceMessages: []
