# (C) 2026 GoodData Corporation
version: 1
interactions:
  - request:
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/afm/execute
      body:
        execution:
          attributes:
            - label:
                identifier:
                  id: region
                  type: label
              localIdentifier: attr1
          filters: []
          measures: []
        resultSpec:
          dimensions:
            - itemIdentifiers:
                - attr1
              localIdentifier: dim_0
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-GDC-CANCEL-TOKEN:
          - fbf40767-c244-44a1-8617-e87f5e8eaad7
        X-GDC-TRACE-ID: *id001
      body:
        string:
          executionResponse:
            dimensions:
              - headers:
                  - attributeHeader:
                      localIdentifier: attr1
                      label:
                        id: region
                        type: label
                      labelName: Region
                      attribute:
                        id: region
                        type: attribute
                      attributeName: Region
                      granularity: null
                      primaryLabel:
                        id: region
                        type: label
                      valueType: TEXT
                localIdentifier: dim_0
            links:
              executionResult: 920f6a9f2d99c83e297c73d7ebe2b2c6e2bc1299:44886e2a7e4eb3098069908656e95c3e87ea63d7b566335fbde0b8f6617714f5
  - request:
      method: GET
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/afm/execute/result/920f6a9f2d99c83e297c73d7ebe2b2c6e2bc1299%3A44886e2a7e4eb3098069908656e95c3e87ea63d7b566335fbde0b8f6617714f5?offset=0&limit=512
      body: null
      headers:
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      body:
        string:
          data: []
          dimensionHeaders:
            - headerGroups:
                - headers:
                    - attributeHeader:
                        labelValue: Midwest
                        primaryLabelValue: Midwest
                    - attributeHeader:
                        labelValue: Northeast
                        primaryLabelValue: Northeast
                    - attributeHeader:
                        labelValue: South
                        primaryLabelValue: South
                    - attributeHeader:
                        labelValue: Unknown
                        primaryLabelValue: Unknown
                    - attributeHeader:
                        labelValue: West
                        primaryLabelValue: West
          grandTotals: []
          paging:
            count:
              - 5
            offset:
              - 0
            total:
              - 5
          metadata:
            dataSourceMessages: []
