# (C) 2026 GoodData Corporation
version: 1
interactions:
  - request:
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/afm/execute
      body:
        execution:
          attributes:
            - label:
                identifier:
                  id: region
                  type: label
              localIdentifier: attr1
          filters: []
          measures:
            - definition:
                measure:
                  item:
                    identifier:
                      id: order_amount
                      type: metric
                  computeRatio: false
                  filters: []
              localIdentifier: metric1
        resultSpec:
          dimensions:
            - itemIdentifiers:
                - attr1
              localIdentifier: dim_0
            - itemIdentifiers:
                - measureGroup
              localIdentifier: dim_1
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-GDC-CANCEL-TOKEN:
          - dd7bded4-b8fe-4a26-8a1b-30ea74571117
        X-GDC-TRACE-ID: *id001
      body:
        string:
          executionResponse:
            dimensions:
              - headers:
                  - attributeHeader:
                      localIdentifier: attr1
                      label:
                        id: region
                        type: label
                      labelName: Region
                      attribute:
                        id: region
                        type: attribute
                      attributeName: Region
                      granularity: null
                      primaryLabel:
                        id: region
                        type: label
                      valueType: TEXT
                localIdentifier: dim_0
              - headers:
                  - measureGroupHeaders:
                      - localIdentifier: metric1
                        format: $#,##0
                        name: Order Amount
                localIdentifier: dim_1
            links:
              executionResult: 70e15fc7060bbec83378cd2dd059756d13997aa9:8e98b5ab30336dde4ca6bec2e0b338c7e10f8a9ebcf16d8f6df39eedc0f80ed5
  - request:
      method: GET
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/afm/execute/result/70e15fc7060bbec83378cd2dd059756d13997aa9%3A8e98b5ab30336dde4ca6bec2e0b338c7e10f8a9ebcf16d8f6df39eedc0f80ed5?offset=0%2C0&limit=512%2C256
      body: null
      headers:
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      body:
        string:
          data:
            - - 98425.2
            - - 56710.83
            - - 228392.39
            - - 18.7
            - - 132511.22
          dimensionHeaders:
            - headerGroups:
                - headers:
                    - attributeHeader:
                        labelValue: Midwest
                        primaryLabelValue: Midwest
                    - attributeHeader:
                        labelValue: Northeast
                        primaryLabelValue: Northeast
                    - attributeHeader:
                        labelValue: South
                        primaryLabelValue: South
                    - attributeHeader:
                        labelValue: Unknown
                        primaryLabelValue: Unknown
                    - attributeHeader:
                        labelValue: West
                        primaryLabelValue: West
            - headerGroups:
                - headers:
                    - measureHeader:
                        measureIndex: 0
          grandTotals: []
          paging:
            count:
              - 5
              - 1
            offset:
              - 0
              - 0
            total:
              - 5
              - 1
          metadata:
            dataSourceMessages: []
