# (C) 2026 GoodData Corporation
interactions:
  - request:
      body:
        execution:
          attributes: []
          filters: []
          measures:
            - definition:
                measure:
                  computeRatio: false
                  filters: []
                  item:
                    identifier:
                      id: order_amount
                      type: metric
              localIdentifier: metric1
        resultSpec:
          dimensions:
            - itemIdentifiers:
                - measureGroup
              localIdentifier: dim_0
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/afm/execute
    response:
      body:
        string:
          executionResponse:
            dimensions:
              - headers:
                  - measureGroupHeaders:
                      - format: $#,##0
                        localIdentifier: metric1
                        name: Order Amount
                localIdentifier: dim_0
            links:
              executionResult: 3495aeefa1be386f864d8fea74c36bff657239ba:9ade105a4a78524a5bce0c3851f44bae032026b4d0db5ed8beeaa341290bc747
      headers:
        Content-Type:
          - application/json
        X-GDC-CANCEL-TOKEN: *id001
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: GET
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/afm/execute/result/3495aeefa1be386f864d8fea74c36bff657239ba%3A9ade105a4a78524a5bce0c3851f44bae032026b4d0db5ed8beeaa341290bc747?offset=0&limit=256
    response:
      body:
        string:
          data:
            - 516058.34
          dimensionHeaders:
            - headerGroups:
                - headers:
                    - measureHeader:
                        measureIndex: 0
          grandTotals: []
          metadata:
            dataSourceMessages: []
          paging:
            count:
              - 1
            offset:
              - 0
            total:
              - 1
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
version: 1
