# (C) 2026 GoodData Corporation
interactions:
  - request:
      body:
        execution:
          attributes:
            - label:
                identifier:
                  id: date.month
                  type: label
              localIdentifier: attr1
          filters: []
          measures:
            - definition:
                measure:
                  aggregation: SUM
                  computeRatio: false
                  filters: []
                  item:
                    identifier:
                      id: quantity
                      type: fact
              localIdentifier: metric1
        resultSpec:
          dimensions:
            - itemIdentifiers:
                - attr1
              localIdentifier: dim_0
            - itemIdentifiers:
                - measureGroup
              localIdentifier: dim_1
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/afm/execute
    response:
      body:
        string:
          executionResponse:
            dimensions:
              - headers:
                  - attributeHeader:
                      attribute:
                        id: date.month
                        type: attribute
                      attributeName: Date - Month/Year
                      format:
                        locale: en-US
                        pattern: MMM y
                        timezone: Etc/UTC
                      granularity: MONTH
                      label:
                        id: date.month
                        type: label
                      labelName: Date - Month/Year
                      localIdentifier: attr1
                      primaryLabel:
                        id: date.month
                        type: label
                      valueType: TEXT
                localIdentifier: dim_0
              - headers:
                  - measureGroupHeaders:
                      - localIdentifier: metric1
                localIdentifier: dim_1
            links:
              executionResult: ac0c090c09a514f2a1ae2c27205ca0aba4bc84bb:a1afb156b531b93b2eb17f7b04067ec71df5c3c20785f73009852bdaeaac60f5
      headers:
        Content-Type:
          - application/json
        X-GDC-CANCEL-TOKEN: *id001
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: GET
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/afm/execute/result/ac0c090c09a514f2a1ae2c27205ca0aba4bc84bb%3Aa1afb156b531b93b2eb17f7b04067ec71df5c3c20785f73009852bdaeaac60f5?offset=0%2C0&limit=512%2C256
    response:
      body:
        string:
          data:
            - - 66.0
            - - 108.0
            - - 130.0
            - - 114.0
            - - 74.0
            - - 99.0
            - - 94.0
            - - 104.0
            - - 68.0
            - - 100.0
            - - 137.0
            - - 173.0
            - - 142.0
            - - 111.0
            - - 130.0
            - - 115.0
            - - 112.0
            - - 129.0
            - - 100.0
            - - 126.0
            - - 114.0
            - - 112.0
            - - 139.0
            - - 157.0
            - - 123.0
            - - 75.0
            - - 127.0
            - - 151.0
            - - 125.0
            - - 142.0
            - - 143.0
            - - 145.0
            - - 121.0
            - - 138.0
            - - 193.0
            - - 217.0
            - - 173.0
            - - 119.0
            - - 236.0
            - - 149.0
            - - 149.0
            - - 153.0
            - - 168.0
            - - 151.0
            - - 147.0
            - - 189.0
            - - 267.0
            - - 294.0
            - - 217.0
            - - 165.0
            - - 201.0
          dimensionHeaders:
            - headerGroups:
                - headers:
                    - attributeHeader:
                        labelValue: 2022-10
                        primaryLabelValue: 2022-10
                    - attributeHeader:
                        labelValue: 2022-11
                        primaryLabelValue: 2022-11
                    - attributeHeader:
                        labelValue: 2022-12
                        primaryLabelValue: 2022-12
                    - attributeHeader:
                        labelValue: 2023-01
                        primaryLabelValue: 2023-01
                    - attributeHeader:
                        labelValue: 2023-02
      [...]
  - request:
      body:
        execution:
          attributes:
            - label:
                identifier:
                  id: date.month
                  type: label
              localIdentifier: attr1
              showAllValues: true
          filters:
            - positiveAttributeFilter:
                in:
                  values:
                    - Canceled
                label:
                  identifier:
                    id: order_status
                    type: label
          measures:
            - definition:
                measure:
                  aggregation: SUM
                  computeRatio: false
                  filters: []
                  item:
                    identifier:
                      id: quantity
                      type: fact
              localIdentifier: metric1
        r[...]
[...]
