# (C) 2026 GoodData Corporation
interactions:
  - request:
      body:
        execution:
          attributes:
            - label:
                identifier:
                  id: region
                  type: label
              localIdentifier: attr1
          filters: []
          measures:
            - definition:
                measure:
                  computeRatio: false
                  filters: []
                  item:
                    identifier:
                      id: order_amount
                      type: metric
              localIdentifier: metric1
        resultSpec:
          dimensions:
            - itemIdentifiers:
                - attr1
              localIdentifier: dim_0
            - itemIdentifiers:
                - measureGroup
              localIdentifier: dim_1
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/afm/execute
    response:
      body:
        string:
          executionResponse:
            dimensions:
              - headers:
                  - attributeHeader:
                      attribute:
                        id: region
                        type: attribute
                      attributeName: Region
                      granularity: null
                      label:
                        id: region
                        type: label
                      labelName: Region
                      localIdentifier: attr1
                      primaryLabel:
                        id: region
                        type: label
                      valueType: TEXT
                localIdentifier: dim_0
              - headers:
                  - measureGroupHeaders:
                      - format: $#,##0
                        localIdentifier: metric1
                        name: Order Amount
                localIdentifier: dim_1
            links:
              executionResult: b6f0f8cf31af3eb6a8f0bc1aa53173db393080a9:8962c8e5293fec02ae78d60e5667ad7dd8951cd6bb9f82c98d3c2d3736c518d9
      headers:
        Content-Type:
          - application/json
        X-GDC-CANCEL-TOKEN: *id001
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: GET
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/afm/execute/result/b6f0f8cf31af3eb6a8f0bc1aa53173db393080a9%3A8962c8e5293fec02ae78d60e5667ad7dd8951cd6bb9f82c98d3c2d3736c518d9?offset=0%2C0&limit=512%2C256
    response:
      body:
        string:
          data:
            - - 98425.2
            - - 56710.83
            - - 228392.39
            - - 18.7
            - - 132511.22
          dimensionHeaders:
            - headerGroups:
                - headers:
                    - attributeHeader:
                        labelValue: Midwest
                        primaryLabelValue: Midwest
                    - attributeHeader:
                        labelValue: Northeast
                        primaryLabelValue: Northeast
                    - attributeHeader:
                        labelValue: South
                        primaryLabelValue: South
                    - attributeHeader:
                        labelValue: Unknown
                        primaryLabelValue: Unknown
                    - attributeHeader:
                        labelValue: West
                        primaryLabelValue: West
            - headerGroups:
                - headers:
                    - measureHeader:
                        measureIndex: 0
          grandTotals: []
          metadata:
            dataSourceMessages: []
          paging:
            count:
              - 5
              - 1
            offset:
              - 0
              - 0
            total:
              - 5
              - 1
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
version: 1
