# (C) 2026 GoodData Corporation
interactions:
  - request:
      body:
        execution:
          attributes:
            - label:
                identifier:
                  id: region
                  type: label
              localIdentifier: attr1
          filters:
            - positiveAttributeFilter:
                in:
                  values:
                    - Unknown
                    - Northeast
                label:
                  localIdentifier: attr1
          measures:
            - definition:
                measure:
                  computeRatio: false
                  filters: []
                  item:
                    identifier:
                      id: order_amount
                      type: metric
              localIdentifier: metric1
        resultSpec:
          dimensions:
            - itemIdentifiers:
                - attr1
              localIdentifier: dim_0
            - itemIdentifiers:
                - measureGroup
              localIdentifier: dim_1
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/afm/execute
    response:
      body:
        string:
          executionResponse:
            dimensions:
              - headers:
                  - attributeHeader:
                      attribute:
                        id: region
                        type: attribute
                      attributeName: Region
                      granularity: null
                      label:
                        id: region
                        type: label
                      labelName: Region
                      localIdentifier: attr1
                      primaryLabel:
                        id: region
                        type: label
                      valueType: TEXT
                localIdentifier: dim_0
              - headers:
                  - measureGroupHeaders:
                      - format: $#,##0
                        localIdentifier: metric1
                        name: Order Amount
                localIdentifier: dim_1
            links:
              executionResult: 67a6d5c61e921e6f1c7abd770e2d1eb5c3ca9c45:b5fe92ed5920761ec6a6209a19235d140d264ffb0af8196427df966d158e3d3e
      headers:
        Content-Type:
          - application/json
        X-GDC-CANCEL-TOKEN: *id001
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: GET
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/afm/execute/result/67a6d5c61e921e6f1c7abd770e2d1eb5c3ca9c45%3Ab5fe92ed5920761ec6a6209a19235d140d264ffb0af8196427df966d158e3d3e?offset=0%2C0&limit=512%2C256
    response:
      body:
        string:
          data:
            - - 56710.83
            - - 18.7
          dimensionHeaders:
            - headerGroups:
                - headers:
                    - attributeHeader:
                        labelValue: Northeast
                        primaryLabelValue: Northeast
                    - attributeHeader:
                        labelValue: Unknown
                        primaryLabelValue: Unknown
            - headerGroups:
                - headers:
                    - measureHeader:
                        measureIndex: 0
          grandTotals: []
          metadata:
            dataSourceMessages: []
          paging:
            count:
              - 2
              - 1
            offset:
              - 0
              - 0
            total:
              - 2
              - 1
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
version: 1
