# (C) 2026 GoodData Corporation
interactions:
  - request:
      body:
        execution:
          attributes: []
          filters: []
          measures:
            - definition:
                measure:
                  computeRatio: false
                  filters: []
                  item:
                    identifier:
                      id: order_amount
                      type: metric
              localIdentifier: metric1
        resultSpec:
          dimensions:
            - itemIdentifiers:
                - measureGroup
              localIdentifier: dim_0
      headers:
        Content-Type:
          - application/json
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: POST
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/afm/execute
    response:
      body:
        string:
          executionResponse:
            dimensions:
              - headers:
                  - measureGroupHeaders:
                      - format: $#,##0
                        localIdentifier: metric1
                        name: Order Amount
                localIdentifier: dim_0
            links:
              executionResult: 0a67d016136a60a2101fc3fe23d8441b8a977d78:c6776d185deeb28d4291382c59ff4fa9c57644eec17ec5f58da2c7364e180145
      headers:
        Content-Type:
          - application/json
        X-GDC-CANCEL-TOKEN: *id001
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        X-GDC-VALIDATE-RELATIONS:
          - 'true'
        X-Requested-With:
          - XMLHttpRequest
      method: GET
      uri: https://python-sdk-dex.dev-latest.stg11.panther.intgdc.com/api/v1/actions/workspaces/demo/execution/afm/execute/result/0a67d016136a60a2101fc3fe23d8441b8a977d78%3Ac6776d185deeb28d4291382c59ff4fa9c57644eec17ec5f58da2c7364e180145?offset=0&limit=256
    response:
      body:
        string:
          data:
            - 516058.34
          dimensionHeaders:
            - headerGroups:
                - headers:
                    - measureHeader:
                        measureIndex: 0
          grandTotals: []
          metadata:
            dataSourceMessages: []
          paging:
            count:
              - 1
            offset:
              - 0
            total:
              - 1
      headers:
        Content-Type:
          - application/json
        X-GDC-TRACE-ID: *id001
      status:
        code: 200
        message: OK
version: 1
